@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  width: fit-content !important;
}

.mySwiper .swiper-pagination {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.swiper-pagination-bullet-active {
  background: white !important;
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: white !important;
  width: 15px !important;
  height: 15px !important;
}
